@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.header-border {
  border-width: 10px;
  border-image-slice: 1;
  border-image-source: linear-gradient(90deg, yellow, green, pink);
  animation: neon-border 3s infinite alternate;
}

.header-border:hover {
  animation: neon-border 0.5s infinite alternate;
}

.btn-border {
  border-width: 8px;
  border-image-slice: 1;
  border-image-source: linear-gradient(90deg, yellow, green, pink);
  animation: neon-border 3s infinite alternate;
}
.btn-border:hover {
  animation: neon-border 0.5s infinite alternate;
}
@keyframes neon-border {
  0% {
    border-image-source: linear-gradient(90deg, yellow, green, pink);
  }
  50% {
    border-image-source: linear-gradient(90deg, pink, yellow, green);
  }
  100% {
    border-image-source: linear-gradient(90deg, green, pink, yellow);
  }
}
.neon-text {
  background: linear-gradient(90deg, red, blue, purple);
  background-size: 300% 300%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: neon-text 3s infinite alternate;
}
.neon-text:hover {
  background: linear-gradient(90deg, yellow, green, pink);
  background-size: 300% 300%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: neon-text 0.5s infinite alternate;
}
@keyframes neon-text {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
